$light-gray: #aaaaaa;
$bs-breakpoint-md: 768px;
$bs-breakpoint-lg: 992px;

body {
  font-family: Helvetica, sans-serif;
}

@media (min-width: $bs-breakpoint-md) {
    .card-columns {
        column-count: 2;
    }
    .mt-md-7vh {
      margin-top: 7vh;
    }
}

@media (min-width: $bs-breakpoint-lg) {
    .card-columns {
        column-count: 3;
    }
}

.bb-button {
  color: #000;
  padding: 0.6rem;
  border: 1px solid #aaa;
  &:hover {
    text-decoration: none;
    color: #000;
    border-color: #000;
  }
}

.bg-gray {
  background-color: #dddddd;
}

.project {
  color: #000;
  &:hover {
    border-color: #000;
    cursor: pointer;
  }
}

.obsv-img {
  &:hover {
    cursor: pointer;
    border: 3px solid #fff;
  }
}


// TEXT
.font-sm {
  font-size: .95rem;
}

.font-xs {
  font-size: .85rem;
}

.font-lg {
  font-size: 2rem;
}

.font-weight-regular {
  font-weight: 400;
}

.font-gray {
  color: $light-gray;
}

.char-space {
  letter-spacing: 2px;
}

.char-space-2 {
  letter-spacing: 3px;
}

.border-black {
  border: 1px solid black;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.border-right-black {
  border-right: 1px solid black;
}

.border-gray {
  border: 1px solid $light-gray;
}

.border-left-black {
  border-left: 1px solid black;
}

.border-top-black {
  border-top: 1px solid black;
}

.anchor-plain {
  a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
  }
}

.photo {
  padding-bottom: 36px;
}

.expand-fnc:hover{
  text-decoration: underline !important;
}

.nav-a {
  &:hover {
    cursor: pointer;
    color: black !important;
    text-decoration: none;
  }
}

.nav-active {
  color: black !important;
}

.logos {
  font-size: 1.25rem;
  a:hover{
    color: #666666;
  }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#jacob-brady {
  font-size: 1.8rem;
}
