{{#each projects}}
  <div class="card border-gray rounded p-3 mb-2 mt-2" data-target="{{href}}">
    <span class="font-reg font-weight-bold">{{name}}</span>
    <p class="mb-0">{{{description}}}</p>
  </div>
{{/each}}
